.navbar-light .nav-item .router-link-exact-active {
	color: black;
	border-bottom: 1px solid black;
	font-weight: bold;
}

.navbar-expand-mercado {
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.navbar-expand-mercado .navbar-nav {
	-ms-flex-direction: row;
	flex-direction: row;
}

.navbar-expand-mercado .navbar-nav .dropdown-menu {
	position: absolute;
}

.navbar-expand-mercado .navbar-nav .nav-link {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.navbar-expand-mercado>.container, .navbar-expand-mercado>.container-fluid
	{
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.navbar-expand-mercado .navbar-collapse {
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}

.cursor-pointer,
.nav-item{
	cursor: pointer;
}

.fix-height{
	height: 80%;
	overflow: auto;
}

.fix-height-row{
	height: 100%;
}

body,
.full-height{
	height: 100%;
}
html{
	height: 90%;
}

.ajusta-espaco{
	height: 50%;
}

